
.container {
  width: 1140px;
  margin: auto;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/*Header styles start*/
.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.logo-web {
  color: #2196f3;
}
.main-menu {
  margin-left: 50px;
}

.main-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.main-menu-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.main-menu-item-contact {
  display: flex;
  align-items:center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.main-menu-item:hover{
  color: #2196f3;
}
.main-menu-item-contact:hover {
  color: #2196f3;

}
.vector-contacts{
  margin: 0 10px 0 30px;

}
.envelope-contacts{
  margin-right: 10px;

}


/*Header styles end*/

/*Promo styles start*/
.promo {
  background-image: url(./img/promo.jpg);
  background-position: center;

  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: auto;
  object-fit: contain
}
.promo-wrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promo-wrapper h1 {
  width: 700px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 2.75em;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-promo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 30px;
  width: 216px;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*Promo styles end*/

/* Skills styles start*/
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 88px;

}
.skills-list {
  display: flex;
  justify-items: center;
  width: 1170px;
  height: 104px;
}
.list-h5 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.p-list {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.875em;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Skills styles end*/

/*About styles start*/
.about-us h2 {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  color: #212121;
}
.about-us-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
/*About styles end*/

/*Team styles start*/
.our-team {
  background-color: #f5f4fa;
  padding: 94px 0;
  margin: 0;
  margin-top: 94px;
}
.our-team h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  
  margin-top: 0;
  color: #212121;
}
.team-cards li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-cards {
  width: 1170px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-info {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.team-info h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-info p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: #757575;
  margin-top: 10px;
}
/*Team styles end*/

/*Footer styles start*/
footer{
  background: #2f303a;
  display: flex;
  justify-content: center;
}
.contacts {
  width: 1140px;
  flex-direction: column;
  height: 252px;
  padding-top: 60px;
  justify-content: center;
}
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fffefe;
}
.logo-footer h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.logo-web-footer {
  color: #2196f3;
}
.list-footer-list {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.list-footer-list p {
  margin: 10px 0 10px 0;
}
.footer-info-contacts {
  margin: 9px 0 0 0;
  color: rgba(255, 255, 255, 0.6);
}
/*Footer styles end*/

/*Portfolio html starts*/

/*Header styles in portfolio starts*/
.header-block-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-nav-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-contacts-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
}

.logo-portfolio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}


.logo-web-portfolio {
  color: #2196f3;
}
.main-menu-portfolio {
  margin-left: 50px;
}

.main-menu-items-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}


.main-menu-item-portfolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.main-menu-item-contact-portfolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.main-menu-item-portfolio:hover,
.main-menu-item-contact-portfolio:hover {
  color: #2196f3;
}
/*Header styles in portfolio end*/

/*Portfolio html end*/
